@use "../../assets/styles/mixins";

.Badge {
  display: inline-block;
  padding: 8px 12px;
  @include mixins.font-size(12);
  @include mixins.font-weight(bold);
  border-radius: 16px;
  line-height: 1;

  &--inverted {
    padding: 4px;
    border-radius: 2px;

    border: 1px solid var(--color-text-inverted);
  }

  &--blue {
    background-color: var(--color-main-blue);
  }

  &--brown {
    background-color: var(--color-background-emphasized-brown);
    color: var(--color-text-emphasized--brown);

    &.Badge--inverted {
      background-color: var(--color-main-brown);
      color: var(--color-text-inverted);
    }
  }
  &--green {
    background-color: var(--color-main-green);
  }
  &--orange {
    background-color: var(--color-main-orange);
  }
  &--yellow {
    background-color: var(--color-main-yellow);
  }
}
