@use "../../assets/styles/mixins";

.Thumbnail {
  display: inline-block;
  //overflow: hidden;
  background-color: var(--color-background-emphasized-blue);
  // box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 2px 2px 0 rgb(0 0 0 / 24%);

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  & &__image {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: var(--size-maximum-width-content);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-border-brown);
    box-sizing: border-box;
    //box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 2px 2px 0 rgb(0 0 0 / 24%);
  }
}
