@use "../../assets/styles/mixins";

.Thumbnail {
  display: inline-block;
  overflow: hidden;
  background-color: var(--color-background-emphasized-blue);

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  & &__image {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: var(--size-maximum-width-content);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-border-brown);
    box-sizing: border-box;
  }
}
