@use "../../assets/styles/mixins";

.Search {
  position: relative;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 68px;
    background: url(../../assets/images/pattern_search.png) center repeat-x;
    background-size: 423px 68px;
  }

  & &__contents {
    max-width: var(--size-maximum-width-content);
    padding: 80px 24px 40px;
    margin: 0 auto;

    &Summary {
      padding: 24px 0 40px;

      &List {
        margin-top: 16px;

        &Item {
          display: flex;
          gap: 4px;

          & > span:first-of-type {
            padding-top: 2px;
          }
        }
      }
    }

    &Test,
    &DD,
    &PR {
      padding: 32px 0 40px;

      & > .Heading {
        margin-bottom: 24px;
      }

      & > p:not(:first-of-type) {
        margin-top: 24px;
      }

      &Image {
        margin-top: 24px;

        &Thumbnail {
          width: 100%;
          border-radius: 8px;
          overflow: hidden;
          @include mixins.font-size(0);
          @media (hover: hover) {
            &:hover {
              opacity: 0.8;
            }
          }
        }

        &Trigger {
          margin-top: 8px;
          text-align: right;
        }
      }
    }

    &Test {
      &Image {
        margin-top: 16px;
        display: flex;
        gap: 16px;
        align-items: center;

        &Combo,
        &Universal {
          background-color: var(--color-background-emphasized-blue);
          flex: 1;
          padding: 16px 8px;

          & > ol {
            counter-reset: index;
            padding-inline-start: 0;
            margin: 0;

            & > li {
              display: flex;
              gap: 8px;
              counter-increment: index;
              padding: 12px;

              &::before {
                display: flex;
                align-items: center;
                justify-content: center;
                content: counter(index);
                @include mixins.font-size(12);
                color: var(--color-text-inverted);
                background-color: var(--color-motif-blue);
                width: 16px;
                height: 16px;
                border-radius: 50%;
                @include mixins.font-weight(bold);
              }

              & > span {
                flex: 1;
                height: 4px;
                border-radius: 2px;
                background-color: var(--color-motif-blue);
                font-size: 0;
                position: relative;

                &::before,
                &::after {
                  content: "";
                  display: block;
                  width: 100%;
                  position: absolute;
                  left: 0;
                  height: 4px;
                  border-radius: 2px;
                  background-color: var(--color-motif-blue);
                }
              }
            }
          }
        }

        &Combo {
          & > ol > li {
            align-items: center;
            background-color: var(--color-background-content);
            border-radius: 4px;
            filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.08))
              drop-shadow(0 0 1px rgba(0, 0, 0, 0.02));

            &:not(:first-of-type) {
              margin-top: 4px;
            }

            & > span {
              margin-top: 2px;

              &::before {
                top: -8px;
              }
              &::after {
                top: 8px;
              }
            }
          }
        }

        &Universal {
          & > ol > li {
            padding-bottom: 16px;

            &:not(:first-of-type) {
              border-top: 1px solid var(--color-border-blue);
            }

            & > span {
              &::before {
                top: 8px;
              }
              &::after {
                top: 16px;
              }
            }
          }
        }

        & > p {
          @include mixins.font-size(24);
          @include mixins.font-weight(bold);
          color: var(--color-text-emphasized-blue);
        }
      }
    }

    &DD {
      &Sample {
        display: flex;
        gap: 16px;
        margin-top: 24px;

        @media (max-width: 767px) {
          flex-direction: column;
        }

        & > p {
          color: var(--color-text-emphasized-blue);
          @include mixins.font-weight(bold);
          @include mixins.font-size(24);
          text-align: center;
          align-self: center;
        }
        &Text,
        &Clock {
          flex: 1;
          background-color: var(--color-background-emphasized-blue);
          padding: 16px;
          color: var(--color-text-emphasized-blue);

          &SearchBox {
            display: flex;
            justify-content: flex-end;
            background-color: var(--color-background-content);
            border-radius: 4px;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02),
              0 1px 1px 0 rgba(0, 0, 0, 0.08);
            overflow: hidden;

            & > span {
              background-color: var(--color-motif-blue);
              color: var(--color-text-inverted);
              @include mixins.font-weight(bold);
              padding: 8px;
              line-height: 1;
            }
          }

          & > .Heading {
            margin-top: 16px;
          }

          &Body {
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;

            &Tokyo,
            &NewYork {
              @include mixins.font-size(12);
              & > span {
                display: block;
              }

              &Time {
                margin-top: 4px;
                color: var(--color-text-primary);
                @include mixins.font-size(24);
                @include mixins.font-weight(bold);
              }
            }
          }
        }

        &Clock {
          &Diff {
            margin-top: 4px;
            color: var(--color-text-primary);
            @include mixins.font-size(16);
            @include mixins.font-weight(bold);
          }
          &Body {
            &Tokyo,
            &NewYork {
              flex: 1;
              text-align: center;

              & img {
                margin-bottom: 4px;
              }
            }
          }
        }
      }
    }

    &PR {
      &Link {
        margin-top: 24px;

        & > p {
          margin-top: 8px;
          @include mixins.font-size(12);
          color: var(--color-text-secondary);
        }
      }
    }

    &Rolls {
      margin-top: 8px;
      padding: 16px;
      background-color: var(--color-background-emphasized-blue);

      & > .Heading {
        margin-bottom: 0;

        &:not(:first-of-type) {
          margin-top: 24px;
        }
      }

      &List {
        margin-top: 16px;

        &Item {
          display: flex;
          gap: 4px;

          & > span:first-of-type {
            padding-top: 2px;
          }
        }
      }
    }

    &Back {
      margin-top: 24px;
    }
  }

  .util-Text--highlighted {
    background-color: var(--color-background-emphasized-blue);
  }
}
