@use "../../assets/styles/mixins";

.ButtonIconOnly {
  background-color: rgba(255, 255, 255, 0.15);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--inverted {
    background-color: var(--color-background-scrim);
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}
