@use "../../assets/styles/mixins";
.Top {
  background-color: var(--color-background-content);
  padding: 40px;
  box-sizing: border-box;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  & &__list {
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &Item {
      aspect-ratio: 2.4 / 1;
      background-color: var(--color-background-inverted);

      &--search {
        background: url(../../assets/images/top_search.png) no-repeat;
        background-size: cover;
      }

      &--seikatsu {
        background: url(../../assets/images/top_seikatsu.png) no-repeat;
        background-size: cover;
      }

      &--chie {
        background: url(../../assets/images/top_chie.png) no-repeat;
        background-size: cover;
      }

      &--pr {
        background: url(../../assets/images/top_pr.png) no-repeat;
        background-size: cover;
      }

      &--map {
        background: url(../../assets/images/top_map.png) no-repeat;
        background-size: cover;
      }

      & > a {
        display: flex;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 8px;
        justify-content: flex-end;
        align-items: flex-end;
        color: var(--color-text-inverted);
        text-decoration: none;

        & > span {
          background-color: var(--color-background-scrim);
          padding: 2px 4px;
          line-height: 1;
          @include mixins.font-weight(bold);
          @include mixins.font-size(12);
        }

        @media (hover: hover) {
          justify-content: center;
          align-items: center;

          & > span {
            visibility: hidden;
            @include mixins.font-size(16);
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.4);
            text-decoration: underline;

            & > span {
              visibility: visible;
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  & &__trigger {
    text-align: right;
    padding: 0 8px 8px 0;
    box-sizing: border-box;

    & > button {
      @include mixins.font-weight(bold);
      text-decoration: underline;

      @media (hover: hover) {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;

    & &__list {
      width: 100%;
      display: grid;
      position: relative;
      aspect-ratio: 2 / 1;
      grid-template-columns: repeat(5, 1fr);
      max-width: 1024px;

      &Item {
        aspect-ratio: auto;
        background-position: center;

        &--search {
          grid-column: 1 / 4;
          grid-row: 1 / 2;
        }
        &--seikatsu {
          grid-column: 4 / 5;
          grid-row: 1 / 2;
        }
        &--chie {
          grid-column: 5 / 6;
          grid-row: 1 / 2;
        }
        &--pr {
          grid-column: 1 / 3;
          grid-row: 2 / 3;
        }
        &--map {
          grid-column: 3 / 6;
          grid-row: 2 / 3;
        }
      }
    }

    & &__trigger {
      width: 100%;
      max-width: 1024px;
    }
  }

  & &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 24px;
    position: fixed;
    inset: 0 0 0 0;
    background-color: var(--color-background-inverted);
    color: var(--color-text-inverted);

    &Contents {
      position: relative;
      padding: 48px 8px;
      max-width: var(--size-maximum-width-content);

      & > .ButtonIconOnly {
        position: absolute;
        top: 0;
        right: 0;
      }

      &Section {
        margin-top: 16px;

        &List {
          margin-top: 8px;
        }
      }
    }
  }

  & &__wip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 24px;
    position: fixed;
    inset: 0 0 0 0;
    background-color: var(--color-background-scrim);
    color: var(--color-text-inverted);

    & > p {
      @include mixins.font-size(24);
      @include mixins.font-weight(bold);
    }
  }
}
