.Icon {
  line-height: 1;
  font-size: 0;

  &--large {
    svg {
      width: 48px;
      height: 48px;
    }
  }
  &--medium {
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &--small {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &--primary {
    svg {
      path {
        fill: var(--color-text-primary);
      }
    }
  }
  &--inverted {
    svg {
      path {
        fill: var(--color-text-inverted);
      }
    }
  }
}
