.Icon {
  line-height: 1;
  font-size: 0;

  &--large {
    svg {
      width: 48px;
      height: 48px;
    }
  }
  &--medium {
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &--small {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &--primary {
    svg {
      path {
        fill: var(--color-text-primary);
      }
    }
  }
  &--inverted {
    svg {
      path {
        fill: var(--color-text-inverted);
      }
    }
  }
  &--blue {
    svg {
      path {
        fill: var(--color-main-blue);
      }
    }
  }
  &--brown {
    svg {
      path {
        fill: var(--color-main-brown);
      }
    }
  }
  &--green {
    svg {
      path {
        fill: var(--color-main-green);
      }
    }
  }
  &--orange {
    svg {
      path {
        fill: var(--color-main-orange);
      }
    }
  }
  &--yellow {
    svg {
      path {
        fill: var(--color-main-yellow);
      }
    }
  }
}
