@use "../../assets/styles/mixins";

.PR {
  position: relative;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 60px;
    background: url(../../assets/images/pattern_pr.png) center repeat-x;
    background-size: 372px 60px;
  }

  & &__contents {
    max-width: var(--size-maximum-width-content);
    padding: 80px 24px 40px;
    margin: 0 auto;

    & > section {
      padding: 24px 0 40px;

      & > .Heading {
        margin-bottom: 24px;
      }

      & > p:not(:first-of-type) {
        margin-top: 24px;
      }
    }

    &Summary {
      &List {
        //margin-top: 16px;

        &Item {
          display: flex;
          gap: 4px;

          & > span:first-of-type {
            padding-top: 2px;
          }
        }
      }
    }

    &Ghit {
      &Image {
        margin-top: 24px;

        &Thumbnail {
          @include mixins.font-size(0);
          @media (hover: hover) {
            &:hover {
              opacity: 0.8;
            }
          }
        }

        &Trigger {
          margin-top: 8px;
          text-align: right;
        }
      }
    }

    &Guideline {
      &Thumbnails {
        margin-top: 24px;
        &List {
          display: flex;
          gap: 8px;
          //border-radius: 8px;
          overflow: hidden;

          &Item {
            flex: 1;
            aspect-ratio: 1 / 1;
            height: 100%;

            // &:first-of-type {
            //   & > .Thumbnail {
            //     border-radius: 8px 0 0 8px;
            //   }
            // }
          }

          &--fiveGrids {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8px;

            & > li:nth-child(3) {
              grid-column: 3 / 4;
              grid-row: 1 / 3;
              aspect-ratio: 1 / 2;

              & .Thumbnail__image {
                aspect-ratio: 1 / 2;
              }
            }
          }
        }
      }
    }
  }

  .util-Text--highlighted {
    background-color: var(--color-background-emphasized-orange);
  }
}
