:root {
  --color-main-blue: #05588c;
  --color-main-brown: #884e2e;
  --color-main-green: #267232;
  --color-main-orange: #f25b27;
  --color-main-yellow: #f2b80c;

  --color-background-content: #fff;
  --color-background-inverted: #271003;
  --color-background-scrim: rgba(39, 16, 3, 0.5);
  --color-background-emphasized-blue: #e0edf8;
  --color-background-emphasized-green: #e1f2e4;
  --color-background-emphasized-yellow: #fffde0;
  --color-background-emphasized-orange: #ffe6e0;
  --color-background-emphasized-brown: #f6e8e1;

  --color-text-primary: #271003;
  --color-text-secondary: #884e2e;
  --color-text-tertiary: #9a6041;
  --color-text-inverted: #fff;
  --color-text-emphasized-blue: #1c6c9f;
  --color-text-emphasized-brown: #9a6041;
  --color-text-emphasized-green: #3a8546;
  --color-text-emphasized-orange: #fe6835;
  --color-text-emphasized-yellow: #ffc51c;

  --color-motif-blue: #387fb1;
  --color-motif-green: #4f985b;
  --color-motif-yellow: #ffd238;
  --color-motif-orange: #ff7745;
  --color-motif-brown: #aa7354;

  --color-border-blue: #c4dbf1;
  --color-border-green: #c6e5cb;
  --color-border-yellow: #fff9c4;
  --color-border-orange: #ffd0c4;
  --color-border-brown: #ecd4c7;

  --size-maximum-width-content: 768px;
}
