@use "./_mixins.scss";

.util-delimiter {
  color: var(--color-text-secondary);
  margin: 0 0.4rem;
}

.util-Text--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.util-Text--caption {
  color: var(--color-text-secondary);
  @include mixins.font-size(12);
}

.util-Text--highlighted {
  @include mixins.font-weight(bold);
  background-color: var(--color-background-emphasized-blue);
}
