@use "./_reset.scss";
@use "./_constants.scss";
@use "./_utility.scss";
@use "./_mixins.scss";

:root {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include mixins.font-size(14);
  line-height: 1.4;
  color: var(--color-text-primary);
  //min-height: 100dvh;
  min-height: unset;
}

#root {
  //min-height: 100vh;
  min-height: unset;
}

button {
  appearance: none;
  background: none;
  padding: 0;
  border: none;
  color: inherit;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
}
